apiVersion: v1
kind: Service
metadata:
  name: wordpress
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/component: wordpress
    urumi.io/store-id: {{ .Values.storeId | quote }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: wordpress
    urumi.io/store-id: {{ .Values.storeId | quote }}
